<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/csstools.github.io_normalize.css_11.0.0_normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg">
        <searchbar>
            <input type="text" id="name" name="name" placeholder="Buscar productos, marcas">    
                <i class="fas fa-search"></i></searchbar>
        </searchbar>
        <p class="titular"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
    </header>
        <nav>
        <ul> 
            <li><a href="#">Ofertas </a></li>
            <li><a href="#">Tiendas Oficiales </a></li>
            <li><a href="#">Vender </a></li>
            <li><a href="#">Ayuda </a></li>
        </ul>
        <ul>
            <li><a href="#">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
            <li><a href="#">Ingresá </a><i class="fas fa-shopping-basket"></i></i></i></li>
            <li><a href="#">Mis compras </a><i class="fas fa-sign-in-alt"></i></i></i></li>
        </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    <main>
    <section class="visita">
    <p><h3>Basado en tu última visita</h3></p>
        <article>
            <div class="product">
            <img src="/images/img-cafetera-moulinex.jpg">
                <p class='precio'>$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class='descripcion'>Cafetera Moulinex</p>
            </div></article>
        <article>
            <img src="/images/img-macbook-pro-2019.jpg">
            <p class='precio'>$230.000</p>
                <p class="descuento">20% Off</p>
                <p class='descripcion'>MacBook Pro 2019</p>
        </article>
        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg">
            <p class='precio'>$70.500</p>
            <p class="descuento">10% Off</p>
            <p class='descripcion'>Galaxy S10</p>
        </article>
        <article>
            <img src="/images/img-tv-samsung-smart.jpg">
            <p class='precio'>$23.200</p>
            <p class="descuento">5% Off</p>
            <p class='descripcion'>SmartTv Samsung 43"</p> 
        </article>
    </section>
    <section class="visita">
        <p><h3>Sección de Ofertas</h3></p>
        <article>
            <img src="/images/img-cafetera-moulinex.jpg">
            <p class='precio'>$6.770</p>
            <p class="descuento">40% OFF</p>
            <p class='descripcion'>Cafetera Moulinex</p>
        </article>
        <article>
            <img src="/images/img-macbook-pro-2019.jpg">
            <p class='precio'>$230.000</p>
            <p class="descuento">20% Off</p>
            <p class='descripcion'>MacBook Pro 2019</p>
        </article>
        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg">
            <p class='precio'>$70.500</p>
            <p class="descuento">10% Off</p>
            <p class='descripcion'>Galaxy S10</p>
        </article>
        <article>
            <img src="/images/img-tv-samsung-smart.jpg">
            <p class='precio'>$23.200</p>
            <p class="descuento">5% Off</p>
            <p class='descripcion'>SmartTv Samsung 43"</p>
        </article>
    </section>
    </main>    
    <footer>
    <section>
        <i class="fas fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
        <i class="fas fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section>
        <i class="fas fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </section>
    <section>
            <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
    </footer>
</body>
</html>

