<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <img src="images/logo-mercado-liebre.svg" width="50%" height="50%">
    <p>Lugar para poner la barra de busqueda</p>
    <p></p>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <p></p>
    <ul>
        <li>Ofertas</li>
        <li>Tiendas Oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
    </ul>
    <p></p>
    <ul>
        <li>Creá tu cuenta</li>
        <li>Ingresá</li>
        <li>Mis compras</li>
    </ul>
</head>
<body>
<section>
<p><strong>Basado en tu última visita</strong></p>
<img src="images/img-cafetera-moulinex.jpg" width="50%" height="50%">
<p>$6.770</p>
<p>40% OFF</p>
<p>Cafetera Moulinex</p>
<p></p>
<img src="images/img-macbook-pro-2019.jpg" width="50%" height="50%">
<p>$230.00</p>
<p>20% Off</p>
<p>MacBook Pro 2019</p>
<p></p>
<img src="images/img-samsung-galaxy-s10.jpg" width="50%" height="50%">
<p>$70.500</p>
<p>10% Off</p>
<p>Sansung Galaxy S10</p>
<p></p>
<img src="images/img-tv-samsung-smart.jpg" width="50%" height="50%">
<p>$23.200</p>
<p>5% Off</p>
<p>SmartTv Samsung 43"</p>
<p>Con Mercado</p>
<p></p>
</section>    
<footer>
    <p><strong>Pagá con tarjeta o en efectivo</strong></p>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    <p><strong>Envío gratis desde $ 2.500</strong></p>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    <p><strong>Seguridad, de principio a fin</strong></p>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
</footer>
</body>
</html>