body {
    background-color: #Ffe600;
    font-family: 'Roboto', sans-serif;
}
nav i {
    padding-inline-start: 5px;
}
p {
    font-size: 12px;
}
h3 {
    font-size: 24px;
}
.precio {
    font-size: 18px;
}
.descuento {
    font-size: 16px;
}
.descripcion {
    font-size: 16px;
}
.burger-menu {
    text-align: center;
}
searchbar {
        text-align: left;
}
.titular {
        text-align: center;
}
footer {
  text-align: center;
}

footer section {
  margin-bottom: 20px;
}

footer h4 {
  font-size: 18px;
}

footer p {
  margin-bottom: 10px;
}
.copy {
    text-align: left;
}
article {
    text-align: center;
}
img {
    width: 100%;
    object-fit: cover;
}
html, body {
    margin: 5;
    padding: 5;
  }
footer i {
    size: 2em;
    padding: 10px;
}